# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# github username을 key로 하는 name, email 쌍 json file.
MAP_FILE_URL=

# Jandi team webhook url
JANDI_WEBHOOK_URL=

# Admin's jandi mail
ADMIN_JANDI_EMAIL=

# Delay Boolean value.
DISABLE_DELAY=

# Interval term. microseconds.
INTERVAL_TIME=
